# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database files
*.db
*.sqlite3

# Media and sample data (optional, if you don't want to publish them)
sample_dbs/media/
sample_dbs/*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment variables and secrets
.env
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environments
env/
venv/
ENV/
.venv/